	<!-- /Head -->
	<%- include('./partials/head')%>
	<!-- /Head -->

	<body>
		<!-- /Header -->
		<%- include('./partials/header')%>
		<!-- /Header -->

		<!-- product detail -->
		<div class="container products-wrapper">
			<div class="d-flex align-items-center">
				<h2 class="products-title">The Dictionary of Lost Words</h2>
				<p class="product-detail-description">
					<a class="editarProd" href="/product/add">Editar</a>
				</p>
			</div>
			<div class="product-detail">
				<div class="row">
					<article class="col-12 col-lg-8 product-detail-info">
						<img src="/images/Hardcode/1/foto1.jpeg" alt="" class="product-detail-img">
						<p class="product-detail-description">Pip Williams’ clever and charming debut introduces us to Esme, the daughter of one of the lexicographers working on the first edition of the OED. As she grows up, she learns that many of the discarded words are related to women’s experiences, so she sets out to write her very own "Dictionary of Lost Words". This delightful page-turner will make readers think about the power of language, who decides which words get written into our shared history, and whose stories may have been left out.</p>
					</article>
					<div class="col-12 col-lg-4">
						<section class="comments">
							<article>
								<img src="https://via.placeholder.com/35" alt="">
								<div class="data">
									<p class="user">
										<strong> <a class="usuarioNombre" href="profile.html">Nombre usuario: </a> </strong>
										Texto del comentario que escribió el usuario Lorem ipsum dolor sit amet consectetur
										adipisicing elit. Tempora doloribus enim aspernatur fugit corrupti suscipit sit
										dolore magnam, praesentium explicabo inventore molestias facilis labore. Fugit ipsa
										mollitia odit inventore consequuntur.</p>
								</div>
							</article>
							<article>
								<img src="https://via.placeholder.com/35" alt="">
								<div class="data">
									<p class="user">
										<strong> <a class="usuarioNombre" href="profile.html">Nombre usuario: </a> </strong>
										Texto del comentario que escribió el usuario Lorem ipsum dolor sit amet
										consectetur.</p>
								</div>
							</article>
							<article>
								<img src="https://via.placeholder.com/35" alt="">
								<div class="data">
									<p class="user">
										<strong> <a class="usuarioNombre" href="profile.html">Nombre usuario: </a> </strong>
										Texto del comentario que escribió el usuario Lorem ipsum dolor sit amet consectetur
										adipisicing elit.
									</p>
								</div>
							</article>
							<article>
								<img src="https://via.placeholder.com/35" alt="">
								<div class="data">
									<p class="user">
										<strong> <a class="usuarioNombre" href="profile.html">Nombre usuario: </a> </strong>
										Texto del comentario que escribió el usuario Lorem ipsum dolor sit amet.</p>
								</div>
							</article>
							<article>
								<img src="https://via.placeholder.com/35" alt="">
								<div class="data">
									<p class="user">
										<strong> <a class="usuarioNombre" href="profile.html">Nombre usuario: </a> </strong>
										Texto del comentario que escribió el usuario Lorem ipsum dolor sit amet consectetur
										adipisicing elit.
										Tempora doloribus enim aspernatur fugit corrupti suscipit sit dolore</p>
								</div>
							</article>

						</section>
						<form class="form" action="" method="POST">
							<input class="form-input" type="text" value="" placeholder="Agregar comentario">
							<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
						</form>
						<hr>
					</div>
				</div>
			</div>
		</div>
		<!-- /product detail -->


		<!-- footer -->
		<%- include('./partials/footer')%>
		<!-- /footer -->
	</body>

	</html>