	<!-- /Head -->
	<%- include('./partials/head')%>
	<!-- /Head -->

	<body>
		<!-- /Header -->
		<%- include('./partials/headerLogueado')%>
		<!-- /Header -->


		<!-- Novedades -->
		<div class="container products-wrapper">
			<div class="row">
				<div class="col-12">
					<h2 class="products-title">Editar mi perfil</h2>
				</div>
				<!-- Show the "ultimos" products -->
				<div class="formulario">
					<form action="/profile" method="GET">
						<label class="form-label" for="">Nombre:</label>
						<input class="form-input" name="nombre" value="" type="text" placeholder="">

						<label class="form-label" for="">Nombre de Usuario:</label>
						<input class="form-input" name="apellido" value="" type="text" placeholder="">

						<label class="form-label" for="">E-mail:</label>
						<input class="form-input" name="email" value="" type="email"
							placeholder="">

						<label class="form-label" class="form-label" for="">Numero de telefono:</label>
						<input class="form-input" name="usuario" value="" type="text" placeholder="">

						<label class="form-label" class="form-label" for="">Numero de telefono:</label>
						<input class="form-input" name="telefono" value="" type="text" placeholder="">


						<button type="submit" class="boton"> Guardar cambios</button>
					</form>
				</div>

				<!-- footer -->
				<%- include('./partials/footer')%>
				<!-- /footer -->
	</body>

	</html>