<footer class="main-footer">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <i class="fas fa-user"></i>
                    <h2>Javier Elizalde</h2>
                    <p>Chief Executive Officer</p>
                    <p>@jelizalde</p>
                    <p>Estudiante de 2° año de Negocios Digitales</p>
                    <p>Salta, Argentina</p>

                </article>
            </div>
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <i class="fas fa-user"></i>
                    <h2>Gonzalo Ocampos</h2>
                    <p>Chief Financial Officer</p>
                    <p>@gocampos</p>
                    <p>Estudiante de 2° año de Negocios Digitales</p>
                    <p>C.A.B.A, Argentina</p>

                </article>
            </div>
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <i class="fas fa-user"></i>
                    <h2>Guadalupe Shinzato</h2>
                    <p>Chief Information Officer</p>
                    <p>@gshinzato</p>
                    <p>Estudiante de 2° año de Negocios Digitales</p>
                    <p>Buenos Aires, Argentina</p>

                </article>
            </div>
        </div>
    </div>
</footer>