<footer class="main-footer">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <i class="fas fa-user"></i>
                    <h2>Javier Elizalde</h2>
                    <p>19 Años</p>
                    <p>Estudiante de 2° año de Negocios Digitales</p>
                    <p>Origen: Salta, Argentina</p>
                    <p>Sueño: Jugar al rugby profesionalmente</p>
                </article>
            </div>
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <i class="fas fa-user"></i>
                    <h2>Gonzalo Ocampos</h2>
                    <p>22 Años</p>
                    <p>Estudiante de 2° año de Negocios Digitales</p>
                    <p>Origen: Ciudad Autónoma de Buenos Aires, Argentina</p>
                    <p>Sueño: Asimilarse a Warren Buffet</p>
                </article>
            </div>
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <i class="fas fa-user"></i>
                    <h2>Guadalupe Shinzato</h2>
                    <p>19 Años</p>
                    <p>Estudiante de 2° año de Negocios Digitales</p>
                    <p>Origen: Buenos Aires, Argentina</p>
                    <p>Sueño: Terminar con la hambruna a nivel mundial</p>
                </article>
            </div>
        </div>
    </div>
</footer>